<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>
<style type="text/css">

.custom-date-style {
  background-color: red !important;
}

</style>
  </head>
  <body>
    <div class="container span12">



<h3>New Event</h3>
<hr/>



<form th:object="${event}" method="post" th:action="@{/events/__${event.id}__}" class="form">



<div class="form-group">
  <label class="control-label" for="title">
    Title
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-12">
        <input type="text" name="title" class="form-control" th:value="*{title}" value="" />
      </div>
    </div>
      </div>
</div>
<div class="form-group">
  <label class="control-label">
    Start Date Time
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-2">
        <input id="datetimepicker_start" type="datetime" name="startDatetime"   class="form-control" th:value="*{startDatetime} ? *{#dates.format(startDatetime, 'yyyy/MM/dd HH:mm')}" value=""  maxlength="19" />
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">
    End Date Time
  </label>
  <div class="controls row">
    <div class="">
      <div class="col-xs-2">
        <input id="datetimepicker_end" type="datetime" name="endDatetime" class="form-control" th:value="*{endDatetime} ? *{#dates.format(endDatetime, 'yyyy/MM/dd HH:mm')}" value=""  maxlength="19" />
        <td th:if="${#fields.hasErrors('endDatetime')}" th:errors="*{endDatetime}">Name Error</td>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="Submit"/>
  <a class="btn btn-default" href="/events">Cancel</a>
</div>
</form>

      <hr/>
      <a class="btn btn-default" href="/">Top</a>
    </div>
  </body>

<script src="/js/jquery.js"></script>
<script src="/js/jquery.datetimepicker.js"></script>
<script>
$('#datetimepicker_start').datetimepicker({
  dayOfWeekStart : 1,
  lang:'ja',
//  format: 'Y/m/d H:m:s',
  step: 10
});

$('#datetimepicker_end').datetimepicker({
  dayOfWeekStart : 1,
  lang:'ja',
//  format: 'Y/m/d H:m:s',
  step: 10
});
</script>
</html>


