/* Outline */

#header {
   margin: auto;
   width: 800px;
   border-bottom: 1px solid gray;
}
#main {
   margin: auto;
   width: 800px;
}

/* Header */

#header-btn-previous {
   
}
#header-btn-next {
   
}
#header-btn-today {
   margin-left: 40px;
   margin-right: 40px;
}
#header-current-month {
   text-align: center;
   margin-left: 40px;
   margin-right: 40px;
}
div.header-tab {
   float: right;
   width: 100px;
}
div.header-tab > div {
   float: left;
   display: block;
   border: 1px solid gray;
   color: blue;
   width: 48%;
   text-align: center;
   background: #e8eef7;
   cursor: pointer;
}
div.header-tab > div.selected {
   color: black;
   background: #c3d9ff;
   cursor: default;
}

/* Main : month */

#main > table.month  {
   width: 100%;
   border-collapse: collapse;
}

#main > table.month td {
   padding: 0px;
   border: 1px solid gray;
   width: 14%;
}

#main > table.month td.today {
   background: #ffffcc;
}

#main > table.month td > div.month-day {
   background: #e8eef7;
   text-align: right;
   padding-right: 4px;
}
#main > table.month td > div.other-month-day {
   background: #eeeeee;
   text-align: right;
   padding-right: 4px;
}

#main > table.month td div.schedules {
   text-align: left;
   font-size: 9px;
   height: 50px;
   overflow: none;
}

#main > table.month td div.schedule {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}

/* Dialog */

#schedule-dialog {
/*   display: none;*/
}

#schedule-dialog > div.field {
   margin-left: 20px;
   margin-bottom: 5px;
}

#schedule-dialog > div.field > div.title {
   color: #444488;
   font-size: 10px;
}

