<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>カレンダーアプリ</title>
    <link type="text/css" href="css/redmond/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />	
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="js/dateformat.js"></script>
    <script type="text/javascript" src="calendar.js"></script>
    <link href="calendar.css" rel="StyleSheet" type="text/css" />
  </head>
  <body>

    <div id="header">
      <button id="header-btn-previous">
        [先月]
      </button>
      <button id="header-btn-next">
        [次月]
      </button>
      <button id="header-btn-today">
        [今月]
      </button>
      <span id="header-current-month">
      </span>

      <div class="header-tab">
        <div id="header-btn-month">
          [月]
        </div>
        <div id="header-btn-week">
          [週]
        </div>
      </div>
    </div>

    <div id="main">
    </div>

    <!-- Dialog -->

    <div id="schedule-dialog">
      <div class="field">
        <div class="title">
          時刻：
        </div>
        <input type="text" name="datetime" size="12">
        </input>
      </div>
      <div class="field">
        <div class="title">
          タイトル：
        </div>
        <input type="text" name="title" size="25">
        </input>
      </div>
      <div class="field">
        <div class="title">
          日時：
        </div>
        <textarea name="memo" cols="25" rows="6">
        </textarea>
      </div>
      <button class="btn-delete">予定の削除
      </button>
    </div>

  </body>
</html>
